/* Font Stuff */
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Mate+SC&display=swap');

/* mini reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  
/* Variables and things */
:root {
  /* font variables */
  --body_font: 'Gruppo';
  --display_font: 'Mate SC';
  --font_std_size: 1.2rem;

  /* color variables */
  --black: #212121;
  --white: #ededed;
  --grey: #d0c8d5;
  --silver: #a6a6a6;
  --blue: #1a237e;
  --red: #f20d4e;
  --green: #3b8609;
  --beige: #e6bf98;
  --navbg: #ededede3;

  /* elements */
  min-height: 100vh;
  background-image: radial-gradient(circle, var(--blue), var(--black));
  font: var(--font_std_size)/1.3 var(--body_font);
  color: var(--white);
}

/* Animations */
@keyframes nav_jump {
  from {top: 0px;}
  to {top: -8px}
}

/* More Stuff */
  h1, h2, h3, h4, h5, h6 {
  font-family: var(--display_font);
}

header {
  background-color: var(--navbg);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
}

.flex_container_std {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_nav_wrapper {
  padding: .5rem;
  width: 100vw;
  max-width: 1400px;
}

.nav_logo_wrapper {
  display: flex;
  width: auto;
  height: 3rem;
}

.nav_links {
padding-right: .5rem;
}

.nav_links li {
  list-style-type: none;
}

.nav_links a {
  color: var(--black);
  text-decoration: none;
  padding: .5rem;
  position: relative;
}

.nav_links a:hover, a:focus {
  color: var(--red);
}

.nav_links a:hover {
  animation: nav_jump 0.5s forwards;
}

.hamburger_button {
  padding: 0;
  height: fit-content;
  width: fit-content;
  border-style: none;
  background: none;
  position: absolute;
  top: .5rem;
  right: .5rem;
  display: none;
}

#hamburger_icon_close {
  display: none;
}

@media screen and (max-width: 600px) {
  .hamburger_button {
    display: block;
  }
}